<div class="form-wrap">
  <h2>ユーザー情報更新</h2>
  <%= form_with model: @user, url:user_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname, 'ニックネーム' %><br>
      <%= f.text_field :nickname, autofocus: true, class: 'info-text', placeholder:'例)ランドリー太郎' %>
    </div>

    <div class="field">
      <%= f.label :email, 'メールアドレス' %><br>
      <%= f.email_field :email, class: 'info-text', placeholder: '携帯、PCどちらでも可能' %>
    </div>
    <%= f.submit "更新する", class: 'actions' %>
  <% end %>
</div>