<li>
  <div class="card" style="width: 18rem;">
    <div class="image">
      <%= image_tag laundry.image, class: 'card-img-top',  width:"100%", height:"180" %>
      <%= link_to '詳細を見る', laundry_path(laundry.id), class: 'mask' %>
    </div>
    <div class="card-body">
      <p class="card-text mb-2">
        <span><%= image_tag 'shop_name.png',class: "info-icon mr-2" %></span>
        <%= laundry.name %></p>
      <p class="card-text mb-2">
        <span><%= image_tag 'address.png',class: "info-icon mr-2" %></span>
        <%= laundry.address %>
      </p>
      <p class="card-text mb-3">
        <span><%= image_tag 'open-day.png',class: "info-icon mr-2" %></span>
        <%= l laundry.opening_date %>
      </p>
      <div class="tags text-center mb-3">
        <% if laundry.shoe_washing %>
          <%= link_to '#靴が洗える', search_laundries_path(q: { shoe_washing_eq_any: 1 }),class:"tag" %>
        <% end %> 
        <% if laundry.futon_washing %>
          <%= link_to '#敷布団が洗える', search_laundries_path(q: { futon_washing_eq_any: 1 }),class:"tag" %>
        <% end %>
        <% if laundry.dryer %>
          <%= link_to '#乾燥機有', search_laundries_path(q: { dryer_eq_any: 1 }),class:"tag" %>
        <% end %> 
        <% if laundry.washing_machine %>
          <%= link_to '#洗濯機有', search_laundries_path(q: { washing_machine_eq_any: 1 }),class:"tag" %>
        <% end %> 
      </div>
      <div class="average-score mb-3">
        <div class="comment-count">
          <%= image_tag 'comment.png', class: 'comment-icon', width:"15", height:"15"%>
          <%= laundry.comments.count %>
        </div>
        <div class="star-rating ml-2">
          <div class="star-rating-front" style="width: <%= laundry.avg_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class="average-score-display">
          （<%= laundry.avg_score %>点）
        </div>
      </div>
      <%# 1024px以下のときに表示する(詳細ページ遷移ボタン) %>
      <%=link_to image_tag("detail-show.png", class: "detail-btn"), laundry_path(laundry.id) %>
      
      <div class="btn">
        <% if user_signed_in? && current_user.admin? %>
          <div class="hidden-btn">
            <%= link_to '編集', edit_laundry_path(laundry.id), class:"badge badge-light px-3 py-2 mr-2" %>
            <%= link_to '削除', laundry_path(laundry.id), method: :delete, class: "badge badge-danger px-3 py-2", data: { confirm: '削除を実行します。よろしければOKをクリックしてください。' } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</li>

