<div class="main">
  <div class="flash-message">
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class="search-area">
    <div class="search-form">
      <h1>店舗検索</h1>
      <%= search_form_for @laundry, url: search_laundries_path do |f| %>
        <%= f.label :name_cont, '店舗名:' %>
        <%= f.text_field :name_cont, placeholder: '店舗名を入力', class: 'text-input' %>
        <br>
        <%= f.label :address_cont, '地域名:' %>
        <%= f.text_field :address_cont, placeholder: '例)名古屋市', class: 'text-input' %>
        <br>
        <%= f.label :status_true, '機能:' %>
          <%= f.check_box :shoe_washing_eq_any, {multiple: true}, 1, '' %> 靴を洗う
          <%= f.check_box :futon_washing_eq_any, {multiple: true}, 1, ''%> 敷布団を洗う
          <%= f.check_box :dryer_eq_any, {multiple: true}, 1, '' %> 乾燥のみ
          <%= f.check_box :washing_machine_eq_any, {multiple: true}, 1, '' %> 洗濯のみ
        <br>
        <%= f.submit '検索', class: 'submit-btn' %>
      <% end %>
    </div>
  </div>
  <div class="store-contents-info">
    <h1 class="store-contents-title">店舗一覧 (<%= @laundries_count %>件)<h1>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to '登録' ,new_laundry_path, class:'send-new-page' %>
    <% end %>
  </div>
  <div class="store-contents">
    <ul class="store-lists">
      <% @laundries.each do |laundry| %>
        <%= render partial: 'laundry', locals: { laundry: laundry}%>
      <% end %> 
    </ul>
    <%= paginate @laundries %>
  </div>
</div>
