<h1>検索結果</h1>

<% if @results.length != 0 %>
  <ul class="store-lists">
    <% @results.each do |laundry| %>
    <li class="list">
      <div class="store-info">
        <p>店舗名</p>
        <%= laundry.name %>
        <p>住所</p>
        <%= laundry.address %>
        <p>オープン日</p>
        <%= laundry.opening_date %> 
        <%= link_to '詳細', "#", class: 'btn' %>
      </div>
    </li>
    <% end %> 
  </ul>
<% else %>
    該当店舗はありませんでした
<% end %>
<%= link_to 'トップページへ戻る', root_path %>