<h1>検索結果</h1>

<% if @results.length != 0 %>
  <ul class="store-lists">
    <% @results.each do |laundry| %>
    <li class="list">
      <div class="store-info">
        <p>店舗名</p>
        <%= laundry.name %>
        <p>住所</p>
        <%= laundry.address %>
        <div class="btn">
          <%= link_to '詳細', "#", class: 'show-btn' %>
          <%= link_to '編集', "#", class: 'edit-btn' %>
          <%= link_to '削除', "#", class: 'delete-btn' %>
        </div>
      </div>
    </li>
    <% end %> 
  </ul>
<% else %>
    該当店舗はありませんでした
<% end %>
<%= link_to 'トップページへ戻る', root_path %>