<div class="store-show">
  <h2 class="text">店舗詳細</h2>
  <div class="store-box">
    <%= image_tag @laundry.image, class: 'store-image' %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-store">店名</th>
          <td class="detail-value"><%= @laundry.name %></td>
        </tr>
        <tr>
          <th class="detail-store">住所</th>
          <td class="detail-value"><%= @laundry.address %></td>
        </tr>
        <tr>
          <th class="detail-store">オープン日</th>
          <td class="detail-value"><%= @laundry.opening_date %></td>
        </tr>
        <tr>
          <th class="detail-store">営業時間</th>
          <td class="detail-value"><%= l @laundry.open_time %> 〜 <%= l @laundry.close_time %> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="comment-box">
    <% if current_user %>
      <div class="comment-form">
        <%= form_with(model: @comment, url: laundry_comments_path(@laundry.id), local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "5", class: "comment-text" %>
          <p>
            店舗を利用した感想等あればご入力ください。<br />
            ※不快な言葉遣いなどは退会処分となることがあります。</p>
          </p>
          <%= form.submit "投稿する", class: 'comment-btn' %>
        <% end %>
      </div>
    <% else %>
      <p class="comment-warn">ログインユーザーのみコメント投稿ができます。</p>
    <% end %>
    <div class="comments">
      <h3>コメント一覧</h3>
    </div>
  </div>
</div>