<div class="store-show">
  <h2 class="text">店舗詳細</h2>
  <%# 店舗情報 %>
  <div class="store-box">
    <%= image_tag @laundry.image, class: 'store-image' %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-store">店名</th>
          <td class="detail-value"><%= @laundry.name %></td>
        </tr>
        <tr>
          <th class="detail-store">住所</th>
          <td class="detail-value"><%= @laundry.address %></td>
        </tr>
        <tr>
          <th class="detail-store">オープン日</th>
          <td class="detail-value"><%= l @laundry.opening_date %></td>
        </tr>
        <tr>
          <th class="detail-store">営業時間</th>
            <% if @laundry.open_time == @laundry.close_time %>
              <td class="detail-value">24時間営業</td>
            <% else %>
              <td class="detail-value"><%= l @laundry.open_time, format: :short %> 〜 <%= l @laundry.close_time, format: :short %> </td>
            <% end %>
        </tr>
        <tr>
          <th class="detail-store">
            靴洗濯乾燥機<br>
            (1回400円)
          </th>
          <td class="detail-value"><%= @laundry.shoe_washing ? '○' : '×' %></td>
        </tr>
        <tr>
          <th class="detail-store">
            布団洗濯乾燥機<br>
            (1回1,000円)
          </th>
          <td class="detail-value"><%= @laundry.futon_washing ? '○' : '×' %></td>
        </tr>
        <tr>
          <th class="detail-store">
            乾燥機<br>
            (10分100円)
          </th>
          <td class="detail-value"><%= @laundry.dryer ? '○' : '×' %></td>
        </tr>
        <tr>
          <th class="detail-store">
            洗濯機<br>
            (1回500円)
          </th>
          <td class="detail-value"><%= @laundry.washing_machine ? '○' : '×' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# 地図を表示 %>
  <div id='map'></div>
  <%# 店舗詳細ページ切り替え %>
  <div class="links">
    <% if @laundry.previous.present?%>
      <%= link_to "次の店舗 >>", laundry_path(@laundry.previous), class: "next-btn"%>
    <% end %>
    <% if @laundry.next.present?%>
      <%= link_to "<< 前の店舗", laundry_path(@laundry.next), class: "prev-btn"%>
    <% end %>
  </div>
  <%# コメント欄 %>
  <div class="comment-box">
    <% if current_user %>
      <div class="comment-form">
        <input id="acd-check" class="acd-check" type="checkbox">
        <label class="acd-label" for="acd-check">口コミを投稿する</label>
        <div class="form">
          <%= form_with model: [@laundry, @comment], id:'js-form' do |f| %>
            <div class="comment-field">
              <%= f.label :gender, "性別(必須)" %>：
              <%= f.radio_button :gender, "1" %>男性 
              <%= f.radio_button :gender, "2" %>女性
              <%= f.radio_button :gender, "3" %>無回答
            <br>
            </div>
              <div class="comment-field">
              <%= f.label :age, "年齢(必須)" %>：
              <%= f.collection_select(:age_id, Age.all, :id, :name )%><br> 
            </div>
            <div class="comment-field">
              <%= f.label :rate_id, "評価(必須)" %>：
              <%= f.collection_select(:rate_id, Rate.all, :id, :name )%><br>
            </div>
            <div class="comment-field">
              <%= f.label :text, "本文(必須)", class:"text-label" %>
              <%= f.text_area :text, class:"comment-text", placeholder:"店舗を利用した感想を記入してください" %><br>
            </div>
            <p class="submit-warn"> 
                １度投稿した口コミは削除できません。<br>
                内容をご確認の上よろしければ送信ボタンをクリックしてください。
            </p>
            <%= f.submit '送信', class:"comment-btn"%>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class="comment-warn">ログインユーザーのみ口コミ投稿ができます。</p>
    <% end %>
    <div class="comments">
      <h2 class="comment-title">口コミ一覧</h2>
      <div class="comment-area" id="comment-area">
        <%= render partial: "comments/index", locals: { comments: @comments} %>
      </div>
    </div>
  </div>
  <%= link_to '＜＜一覧画面へ戻る', root_path, class: 'back-top' %>
</div>