<!DOCTYPE html>
<html>
  <head>
    <title>SearchLaundry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="header">
      <h1>
        <%= link_to 'SearchLaundry', root_path, class: 'header_title' %>
      </h1>
      <ul class="nav justify-content-end">
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to '店舗登録' ,new_laundry_path, class:'nav-link' %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <div class="dropdown" id="dropdown-toggle">
            <a class="btn dropdown-toggle">
              <p class="user-name"><%= current_user.nickname %></p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" id= "dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "マイページ",  user_path(current_user.id), class:"dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "ログアウト", destroy_user_session_path, class:"dropdown-item", method: :delete %>
            </div>
          </div>
        <% else %> 
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class:'nav-link' %>
          </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright SearchLaundry 2020.
      </p>
    </footer>
  </body>
</html>
